<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider='MSDAORA.1';pooling=true;min pool size=10;max pool size=512;Data Source=orcl243;User Id=dykj_jw;Password=zysoft"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
